<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1"  />
    <title>HomePage</title>
    <link rel="stylesheet" href="{'../css/styles.css' %}">
   
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>



<!--Haven't Found real alternative for the images shown on the websites pages but will figure it out this is just a small portion of what i actually envision-->

<body>

    <ul class="navigationMain" style="">

       <nav class="navigation">   
            <li> <a href="">Home</a> </li>
            <li> <a href="">FAQ</a> </li>
            <li> <a href="">Why?</a> </li>
            <li> <a href="">Get Started</a> </li>
           
            <li style="margin-left: 100px;"> <a href="">Log-In</a> </li>
       </nav>

    </ul>
 
    <div class="logoHolder"> 
      
    
    </div>
    <img src = "{% static 'images/My.png' %}" class="logo">



    <div class="Headline" style=""> 
        <h2 style="font-size: 52px; opacity: 0.5;">
            Your links. Your media. Your rules. Move them how you want
               
        </h2>
    
       
    
    </div>
    <h2 style="font-size: 52px; margin-top: -145px;">

        Your links. Your media. Your rules. Move them how you want
       
       
    </h2>

    <h2 style="font-size: 22px; margin-top: 50px;">
        Instantly transfer links, videos, and images between your devices—effortlessly.

    </h2>

    <h2 style="font-size: 22px; margin-top: 15px; color: #3484ca;">
        Customize your board to match your style or keep it private—your creativity, your rules.
        
    </h2>
    <button style="margin: 0 auto; display: block; margin-top: 45px;"> Get Started For Free </button>
   

   
 

    <div class="showCont">
        <div class="contentwrapper">
            <div class="image-container">
                <img src="{% static 'images/MyShowcase.png' %}" alt="Showcase">
            </div>
            <div class="text-content">
                <h2 class="main-heading">Designed for You. Built for Speed. No Clutter, No Hassle.</h2>
                <p class="sub-heading" style="margin-top: 25px;">With this simple design, everything you upload will appear full-size, no matter the size of the uploaded content. Your board will grow and you can effortlessly scroll through to find any piece of content.</p>
                <button class="noSign" style="margin: 0 auto; display: block; margin-top: 35px; outline: 3px solid red !important;">Try It Now – No Signup Required</button>
            </div>
            
        </div>
    </div>
   

 
    <h2 style="font-size: 52px; margin-top: 350px; margin-bottom: -70px">

        Pricing:
       
       
    </h2>

    <div class="monetize" style="display: flex; width: 250px; margin-left: 0; margin-right: 0;">
       
        <div class="showCont2" style="width:250px;">

            <h2 style="color:rgb(255, 255, 255);" > Basic ⭐ </h2>
            <br>
            <div class="container2" style="">
                <h2 style="color:rgb(0, 0, 0); font-size: 15px;" > Free Limited Storage ✔ </h2>
            </div>

            <br>
            <div class="container2" style="margin-top: 250px; background-color: rgb(184, 144, 35);">
                <h2 style="color:rgb(255, 255, 255); font-size: 25px;" > $0</h2>
            </div>

        </div>
        <div class="showCont2" style="width: 300px;">
            <h2 style="color:rgb(255, 255, 255);"> Premium🌟</h2>

            <br>
            <div class="container2" style="margin-bottom 100px;">
                <h2 style="color:rgb(0, 0, 0); font-size: 15px;" > Unlimited Storage ✔ </h2>
            </div>

            <br>
            <div class="container2" style="margin-bottom 100px;">
                <h2 style="color:rgb(0, 0, 0); font-size: 15px;"> More Soon ✔</h2>
            </div>

            <br>
            <div class="container2" style="margin-top: 222px; background-color: rgb(18, 189, 33);">
                <h2 style="color:rgb(255, 255, 255); font-size: 25px;" > $0.99</h2>
            </div>
        </div>
    </div> 

</body>





